/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

/* Cabeçalho e Navegação */
nav {
    background-color: #f0f0f0;
    padding: 1rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff9900;
}

/* Seções */
section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #fff;
    text-align: center;
}

#home {
    background-color: #add8e6; /* Azul claro */
    font-size: 20px;
}

#sobre {
    background-color: #f0e68c; /* Amarelo pastel */
    font-size: 20px;
}

#projetos {
    background-color: #dda0dd; /* Lilás suave */
    font-size: 20px;
}

#tutorial {
    background-color: #ffd700; /* Amarelo ouro */
    font-size: 20px;
}

#contato {
    background-color: #98fb98; /* Verde claro */
    font-size: 20px;
}

/* Formulário */
input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    button {
        font-size: 16px;
        padding: 12px;
    }
}

